<a href="https://colab.research.google.com/github/JIJASH/daily_challenges/blob/main/task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task - 2 : üß† Daily DSA Challenge: "Top K Frequent Words"

üí° Task: Given a list of strings (words), return the k most frequent words, sorted by frequency (and alphabetically for ties). üìù Input: words = ["apple", "banana", "apple", "orange", "banana", "apple", "mango"] k = 2 üéØ Expected Output: ["apple", "banana"] Apple appears 3 times Banana appears 2 times Orange & Mango appear once

In [9]:
words = ["apple", "banana", "apple", "orange", "banana", "apple", "mango"]
k = 2

freq = {}
for word in words:
  if word in freq:
    freq[word] += 1
  else:
    freq[word] = 1

freq

{'apple': 3, 'banana': 2, 'orange': 1, 'mango': 1}

In [10]:
items = list(freq.items())
items

[('apple', 3), ('banana', 2), ('orange', 1), ('mango', 1)]

In [11]:
sorted_items = sorted(items, key=lambda x: (x[0], -x[1]))
sorted_items

[('apple', 3), ('banana', 2), ('mango', 1), ('orange', 1)]

In [12]:
top_k = [word for word, count in sorted_items[:k]]
print(top_k)
for word, count in freq.items():
    if count == 1:
        print(f"{word.capitalize()} appears once")
    else:
        print(f"{word.capitalize()} appears {count} times")

['apple', 'banana']
Apple appears 3 times
Banana appears 2 times
Orange appears once
Mango appears once